doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normform.min.css')
  body
    header
      nav
        include nav.pug
    main
      block content
    footer
      block footer
    block js
      script(src='/javascripts/main.js')