nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') RandomWebsite
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav.right
      li.nav-item.active
        a.nav-link(href='#')
          | Home 
          span.sr-only (current)
      if authenticated
        li.nav-item
            a.nav-link(href='/user/logout') Logout
        li.nav-item
            a.nav-link(href='#')=display_name
            
      li.nav-item
        a.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') Disabled


ul.navbar-nav.right
    li
        a(href="/") Home

    if authenticated
        li 
            a(href="/user/logout") Logout
        li Hello,  
            a(href="/user")=display_name
    else
        li
            a(href="/user/signup") Sign Up
        li
            a(href="/user/login") Login
