.ui.secondary.menu.customColor.large
  a.item
    | Home
    
  .right
    if authenticated
      a.item(href="#")=(user.company ? user.company.name : "")
      a.item(href="#")
        i.icon.bell.outline
        a.ui.item(href="user/logout/")
          | Logout
      a.ui.dropdown.item=user.display_name
        i.dropdown.icon
        .menu
          .item(href='user/logout/') Logout
            


      

        
    else
        a.item(href="/user/signup") Sign Up
        a.item(href="/user/Login") Login


