extends layout

block content
    h1= title
    span.ui.large.header.spanClr(style="float:right;margin-right:15px;color:#8e8e8e") Need help with something, #{user.display_name}?
    .ui.grid.celled
        .four.wide.column.whiteBg
            .alignCenter
                i.fas.fa-phone-square-alt.fa-10x.cBlue
            h1.cBlue Call Us
            h3=user.company ? user.company.phone : '333 4444 55 55'
        .four.wide.column.whiteBg
            .alignCenter
                i.fas.fa-envelope-square.fa-10x.cBlue
            h1.cBlue Email Us
            h3=user.company ? user.company.contact : 'support@tim.com'
        .four.wide.column.whiteBg
            .alignCenter
                i.fas.fa-comment-alt.fa-10x.cBlue
            h1.cBlue Chat
            h3 Live chat Available 24/7
        .four.wide.column.whiteBg
            .alignCenter
                i.fas.fa-question.fa-10x.cBlue
            h1.cBlue FAQs
            h3 Frequently Asked Questions   
    .liveSupport
        .ui.card
            .content
                h3 Live Support Chat
            .image
                img
            .content
                .ui.comments
                    .comment
                        a.avatar
                            img.tiny(src='https://fr.workxplore.com/images/icons/hexagon/darkblue/MI_DARK_BLUE_ICON_SUPPORT.png')
                        .content
                            a.author Support
                            .metadata
                                span.date Today at 5:42PM
                            .text
                                | Welcome to Live Support, How Can i help you today?
                .ui.comments
                    .comment
                        a.avatar
                            img.tiny(src='https://www.washingtonpost.com/resizer/SHI5s9Hd_CpP3z82-jpCt8G2Hb4=/1440x0/smart/arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/QLHWYHMQ5YYEXDQGHAEFWOST5A.jpg')
                        .content
                            a.author You
                            .metadata
                                span.date Today at 5:42PM
                            .text
                                | Nigger
                    

            .extra.content
               .ui.action.input.transparent.fluid
                    input(type='text', placeholder='Add Reply...')
                    i.paper.plane.outline.icon.cBlue.circular
