extends layout

block content

    table.ui.celled.table
        thead
            tr
            th Name(Last, First)
            th Department
            th Email
            th extension
        tbody
            tr
            td(data-label='Name') James
            td(data-label='Age') 24
            td(data-label='Job') Engineer
            tr
            td(data-label='Name') Jill
            td(data-label='Age') 26
            td(data-label='Job') Engineer
            tr
            td(data-label='Name') Elyse
            td(data-label='Age') 24
            td(data-label='Job') Designer
